html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: "Inconsolata";
  src: url("assets/inconsolata.otf");
}

.title-buttons {
  background-color: transparent;
  width: 130px;
  font-size: 35px;
  font-family: 'Inconsolata';
  justify-content: center;
  border: none;
  font-weight: bolder;
}

.buttons {
  background-color: transparent;
  font-family: 'Inconsolata';
  justify-content: center;
  font-weight: bolder;
  border: none;
  font-size: 22px;
}

.back-buttons {
  background-color: #eedd8d;
  font-family: 'Inconsolata';
  justify-content: center;
}